---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=13&screen_name=justinbieber
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAJ6lxgAAAAAAKZ1ZNg23rfGSpz0l5Px41KaAeCI%3DQAuzym799HfsFjMGOW17Gy2LmRKd2B4Pg5wIGU1Nn6NcbA6PgN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 26 Oct 2016 06:45:25 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b4b6628384516f2b31e92286f74bc163
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1498'
      X-Rate-Limit-Reset:
      - '1477464917'
      X-Response-Time:
      - '49'
      X-Transaction:
      - 005ec1f40076b119
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Tue Oct 25 22:08:23 +0000 2016","id":791038726205911040,"id_str":"791038726205911040","text":"Thanks
        #AMAs. Vote https:\/\/t.co\/B5hik3LkgM https:\/\/t.co\/yUrQQAL7jU","truncated":false,"entities":{"hashtags":[{"text":"AMAs","indices":[7,12]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/B5hik3LkgM","expanded_url":"http:\/\/AMAvote.com","display_url":"AMAvote.com","indices":[19,42]}],"media":[{"id":791038695017095168,"id_str":"791038695017095168","indices":[43,66],"media_url":"http:\/\/pbs.twimg.com\/media\/CvpVgIQVIAAKwxt.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CvpVgIQVIAAKwxt.jpg","url":"https:\/\/t.co\/yUrQQAL7jU","display_url":"pic.twitter.com\/yUrQQAL7jU","expanded_url":"https:\/\/twitter.com\/justinbieber\/status\/791038726205911040\/photo\/1","type":"photo","sizes":{"small":{"w":680,"h":680,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1000,"h":1000,"resize":"fit"},"medium":{"w":1000,"h":1000,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":791038695017095168,"id_str":"791038695017095168","indices":[43,66],"media_url":"http:\/\/pbs.twimg.com\/media\/CvpVgIQVIAAKwxt.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CvpVgIQVIAAKwxt.jpg","url":"https:\/\/t.co\/yUrQQAL7jU","display_url":"pic.twitter.com\/yUrQQAL7jU","expanded_url":"https:\/\/twitter.com\/justinbieber\/status\/791038726205911040\/photo\/1","type":"photo","sizes":{"small":{"w":680,"h":680,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1000,"h":1000,"resize":"fit"},"medium":{"w":1000,"h":1000,"resize":"fit"}}}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":27260086,"id_str":"27260086","name":"Justin
        Bieber","screen_name":"justinbieber","location":"","description":"Let''s make
        the world better. Join @bkstg and add me on @memep ''justinbieber''. COLD
        WATER and LET ME LOVE YOU out now. OUR new album PURPOSE out NOW","url":"https:\/\/t.co\/4iX8ZmFsct","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/4iX8ZmFsct","expanded_url":"http:\/\/smarturl.it\/ColdWaterOutNow","display_url":"smarturl.it\/ColdWaterOutNow","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":89083124,"friends_count":289573,"listed_count":621486,"created_at":"Sat
        Mar 28 16:41:22 +0000 2009","favourites_count":3255,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":30575,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/460851381025267712\/RU-xit8T.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/460851381025267712\/RU-xit8T.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/652596362073272320\/Zv6K-clv_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/652596362073272320\/Zv6K-clv_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/27260086\/1475614363","profile_link_color":"89C9FA","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"regular"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":23280,"favorite_count":43999,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Tue
        Oct 25 21:38:31 +0000 2016","id":791031208587124736,"id_str":"791031208587124736","text":"RT
        @Mcr_Storm: Surprise late night visit this evening at the @Mcr_Storm! Thanks
        for joining us @justinbieber! #WeAreStorm https:\/\/t.co\/8EkG\u2026","truncated":false,"entities":{"hashtags":[{"text":"WeAreStorm","indices":[110,121]}],"symbols":[],"user_mentions":[{"screen_name":"Mcr_Storm","name":"Manchester
        Storm","id":3342531875,"id_st[...]
