---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=hello
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAJ6lxgAAAAAAKZ1ZNg23rfGSpz0l5Px41KaAeCI%3DQAuzym799HfsFjMGOW17Gy2LmRKd2B4Pg5wIGU1Nn6NcbA6PgN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 03 Nov 2016 20:09:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 89db110664560f7a227d80bb2a5e330a
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '448'
      X-Rate-Limit-Reset:
      - '1478203880'
      X-Response-Time:
      - '93'
      X-Transaction:
      - 0003867b00cc77db
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Thu Nov 03 20:09:15 +0000 2016","id":794270235092258816,"id_str":"794270235092258816","text":"RT
        @TURNTLEE_: WHEN YOU DOING DISHES AND WASH A SPOON https:\/\/t.co\/RryGwh9YK4","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"TURNTLEE_","name":"TURNT
        LEE","id":3631993754,"id_str":"3631993754","indices":[3,13]}],"urls":[],"media":[{"id":703798016264708097,"id_str":"703798016264708097","indices":[54,77],"media_url":"http:\/\/pbs.twimg.com\/media\/CcRkkSEVIAEWW7E.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CcRkkSEVIAEWW7E.jpg","url":"https:\/\/t.co\/RryGwh9YK4","display_url":"pic.twitter.com\/RryGwh9YK4","expanded_url":"https:\/\/twitter.com\/TURNTLEE_\/status\/703798017036414976\/photo\/1","type":"photo","sizes":{"large":{"w":1024,"h":570,"resize":"fit"},"medium":{"w":600,"h":334,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":189,"resize":"fit"}},"source_status_id":703798017036414976,"source_status_id_str":"703798017036414976","source_user_id":3631993754,"source_user_id_str":"3631993754"}]},"extended_entities":{"media":[{"id":703798016264708097,"id_str":"703798016264708097","indices":[54,77],"media_url":"http:\/\/pbs.twimg.com\/media\/CcRkkSEVIAEWW7E.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CcRkkSEVIAEWW7E.jpg","url":"https:\/\/t.co\/RryGwh9YK4","display_url":"pic.twitter.com\/RryGwh9YK4","expanded_url":"https:\/\/twitter.com\/TURNTLEE_\/status\/703798017036414976\/photo\/1","type":"photo","sizes":{"large":{"w":1024,"h":570,"resize":"fit"},"medium":{"w":600,"h":334,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":189,"resize":"fit"}},"source_status_id":703798017036414976,"source_status_id_str":"703798017036414976","source_user_id":3631993754,"source_user_id_str":"3631993754"}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":965107069,"id_str":"965107069","name":"\ud83c\udf38
        \u30ca\u30a4\u30fc\u30de","screen_name":"hello_sunni","location":"Beach City
        ","description":"(Crystal) Gems and my everyday life. HaruRinHaru is my nemesis.
        Also there''s cosplay? \u26a1 Team Instinct \u26a1  ENG \/ GER","url":"https:\/\/t.co\/7ERbqsc1OF","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/7ERbqsc1OF","expanded_url":"http:\/\/facebook.com\/hellosunni","display_url":"facebook.com\/hellosunni","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":267,"friends_count":279,"listed_count":11,"created_at":"Thu
        Nov 22 22:48:35 +0000 2012","favourites_count":49015,"utc_offset":3600,"time_zone":"Amsterdam","geo_enabled":true,"verified":false,"statuses_count":12118,"lang":"de","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"89C9FA","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/634120887218905088\/SZgpgleq.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/634120887218905088\/SZgpgleq.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/788768850338779136\/q1gzXgOg_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/788768850338779136\/q1gzXgOg_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/965107069\/1439408842","profile_link_color":"DD2E44","profile_sidebar_border_color":"EEEEEE","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Sun
        Feb 28 04:24:57 +0000 2016","id":703798017036414976,"id_str":"703798017036414976","text":"WHEN
        YOU DOING DISHES AND WASH A SPOON https:\/\/t.co\/RryGwh9YK4","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":703798016264708097,"id_str":"703798016264708097","indices":[39,62],"media_url":"http:\/\/pbs.twimg.com\/media\/CcRkkSEVIAEWW7E.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CcRkkSEVIAEWW7E.jpg","ur[...]
